<h1>Login</h1>
<% form_for(@user, '/sessions/create') do |f| %>
	<%= f.label :email %>
 	<%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br/>
	<% if @captcha %>
		<div id="captcha">
			<%= recaptcha_tags %>
		</div>
	<% end %>
  <p ><a href="<%= url(:recover_password, :recover_password) %>">Forgot password?</a></p>
  <%= f.submit "Login", :id => 'loginButton', :class => "btn btn-primary" %>
</div>
<% end %>
