<% form_for(@job_question, "/job_question/question/#{@job_offer.id}") do |f| %>
  <h1><%= @job_offer.title %></h1>
  <%= f.label :email %>
 	<%= f.text_field :email %>
  <%= f.label :subject %>
 	<%= f.text_field :subject %>
	<%= f.label :body %>
 	<%= f.text_area :body %>
  <br/>
  <%= f.submit "Send", :id => 'sendButton', :offer_id => @job_offer.id, :class => "btn btn-primary" %>
	<%= link_to 'Cancel', url_for(:job_offers, :latest), :class => "btn btn-secondary" %>
<% end %>