<h1>Recover password</h1>
<% form_for(:recover_password, '/recover_password/sent_password') do |f| %>
	<%= f.label :email %>
	<%= f.text_field :email %>
  <br/>
  <%= f.submit "Send", :id => 'sendPasswordButton', :class => "btn btn-primary" %>
<% end %>
