	<%= f.label :title %>
 	<%= f.text_field :title, :class => "input-block-level" %>
  <%= f.label :location %>
  <%= f.text_field :location, :class => "input-block-level" %>
  <%= f.label :description %>
  <%= f.text_area :description, :class => "input-block-level" %>
	<%= f.label :remuneration %>
  <%= f.number_field :remuneration, :class => "input-block-level", :min => 0  %>
  <%= f.label :tag %>
	<% if @tag %>
  	<%= f.text_field :tag, :class => "input-block-level", value: @tag.name %>
	<% else %>
		<%= f.text_field :tag, :class => "input-block-level" %>
	<% end %>

  <br/>
