
<h1>Job offer</h1>
<table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Location</th>
  </tr>

  <tr>
    <td><%= @job_offer.title %></td>
    <td><%= @job_offer.description %></td>
    <td><%= @job_offer.location %></td>
  </tr>
</table>

<h1>Applications information</h1>
<table class="table table-bordered">
	<tr>
		<th>Applicant's email</th>
		<th>Creation datetime</th>
		<th>Applicant's years of experience</th>
	</tr>
	<% @aplications_information.each do |information| %>

	<tr>
		<td><%= information[:applicant_email] %></td>
    <td><%= information.application_datetime.strftime('%d/%m/%Y') %></td>
    <td><%= information.years_of_experience %></td>
	</tr>

  <% end %>

</table>
