<% form_for(@job_application, "/job_offers/apply/#{@job_offer.id}") do |f| %>
  <h1><%= @job_offer.title %></h1>
  <p>Please enter your email address to receive the contanct information for this offer.</p>

  <%= f.label :applicant_email %>
 	<%= f.text_field :applicant_email %>
  <%= f.label :years_of_experience %>
 	<%= f.number_field :years_of_experience, :required => true, :min => 0, :max => 100 %>
  <%= f.label :short_bio %>
 	<%= f.text_area :short_bio, :maxlength => 500, style: "width:800px; height:100px" %>
	<div style="margin-bottom: 10px">
		<%= recaptcha_tags %>
	</div>
  <%= f.submit "Apply", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:job_offers, :latest), :class => "btn btn-secondary" %>

<% end %>

<% if @suggered_offers.count > 0 %>
  <h1>Some other related offers that might interest to you</h1> <br>
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <% @suggered_offers.each do | offer| %>

    <tr>
      <td>
        <%= offer.title %>
      </td>
      <td>
        <%= offer.location %>
      </td>
      <td>
        <%= offer.description %>
      </td>
      <td>
        <%= link_to 'Apply' , url_for(:job_offers, :apply, :offer_id => offer.id), :id => offer.id, :class => "btn btn-primary" %>
        <%= link_to 'Question' , url_for(:job_question, :question, :offer_id => offer.id), :class => "btn btn-primary" %>
      </td>
    </tr>

    <% end %>

  </table>
<% end %>
