<h1>Current Job Offers</h1>
<div class="search-box">
	<form method="POST" action="/job_offers/search" class="form-search">
		 <%= csrf_token_field %>
		<input type="text" name="q" />
		<input type="submit" value="search" id="search-button" class="btn btn-primary"/>
	</form>
</div>

<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Remuneration</th>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
		<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>
		<td>
			<% if (offer.remuneration.to_i > 0) %>
				<%= offer.remuneration %>
			<% else %>
				No specified
			<% end %>
		</td>
		<td>
			<% if signed_in? %>
				<%= link_to 'Apply' , url_for(:job_offers, :apply, :offer_id => offer.id), :id => offer.id, :class => "btn btn-primary" %>
      <% else %>
        <%= link_to 'Apply', :class => "btn btn-primary", disabled: true %>
      <% end %>
			<%= link_to 'Question' , url_for(:job_question, :question, :offer_id => offer.id), :class => "btn btn-primary" %>
		</td>
	</tr>

  <% end %>

</table>
